# ---- data artifacts (generated) ----
data/**
!data/.gitkeep

# ---- model artifacts (generated) ----
artifacts/**
!artifacts/.gitkeep

# ---- reports artifacts (generated) ----
reports/**
!reports/.gitkeep

# ---- virtual environments ----
_venv/
.venv/
venv/
env/

# ---- python cache/build ----
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# ---- notebooks (optional) ----
.ipynb_checkpoints/

# ---- OS/editor ----
.DS_Store
.vscode/

champion.json